body{
    background-image: url(https://e0.pxfuel.com/wallpapers/343/652/desktop-wallpaper-light-orange-background-amazing-red-with-light-orange-background-awes-orange-plain-iphone-graphic-bright-orange-thumbnail.jpg);
    background-size: cover;
    border:3px soild black;


} /*
body{

    animation: changecolor 1s infinite;

}
@keyframes changecolor{
    0%{
        border:5px solid turquoise;
    }
    25%{
        border:5px solid hotpink;
    }
    50%
    {
        border:5px solid blue;
    }
    75%
    {
        border:5px solid red;
    }
    100%
    {
        border:5px solid purple;
}
}
*/
#a{
align-items: left;
}
.equal{
    display:flex;
    justify-content: center;
    position:absolute;
    margin-left: 30%;
    text-decoration: yellow;
   
}
.para{
    text-align: right;
    right: 0px;
    position:absolute;
}
#image1{
    margin-top: 20%;
}
#image1:hover {

    

}


.photos
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25%;  

}
#photo
{
    display: flex;
    margin-left: 4%;
    border: 3px solid black;
    border-radius: 20%;
    text-decoration: none;
    
}
#photo:hover{
  
    border :3px solid blue;
}
#col{
    color: rgb(115, 115, 224);
}
a:hover{
    color:blue;
}

img{
    border-radius: 20%;
}

a{
    color:black;
}

.flex{
    display:flex;
   justify-content: space-evenly;
}
h2{
    margin-top:50%;
}
.border{
    margin-top:10%;

}