body{
    background-image: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-2902.jpg?t=st=1686225901~exp=1686226501~hmac=7ea3ba2321ce46c79c75d9a97e45244be445b7597a7604fe74c534c703eb6d09);
    background-size: cover;
}
.fixed{
    border: 3px solid black;
    position:fixed;
    margin-left:10%;
}
.fixed{

    background-color: burlywood;
    animation: changecolor 1s infinite;
    margin-left: 17%;

}
@keyframes changecolor{
    0%{
        border:5px solid turquoise;
    }
    25%{
        border:5px solid hotpink;
    }
    50%
    {
        border:5px solid blue;
    }
    75%
    {
        border:5px solid red;
    }
    100%
    {
        border:5px solid purple;
}
}

.equal{
    width:50%;
    display:flex;
    justify-content: space-evenly;
    position: absolute;
    margin-left: 7%;
}
.fixed:hover{

    
    animation: changecolor 1s infinite;
    

}
@keyframes changecolor{
    0%{
        border:5px solid turquoise;
    }
    25%{
        border:5px solid hotpink;
    }
    50%
    {
        border:5px solid blue;
    }
    75%
    {
        border:5px solid red;
    }
    100%
    {
        border:5px solid purple;
}
}

img{
    margin-left:500%;
    border: 3px solid black;
}
.a:hover{
   border: 3px solid blanchedalmond;
}
a{
    width:50%;
    display:flex;
    justify-content: space-evenly;
    margin-left:20%;
}

