body{
    background-color: rgb(12, 12, 102) ;
    background-size: cover;
}
#taj{
  
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-right-radius:30%;
    border-bottom-left-radius:30% ;
}

.bright:hover{
border-color:black;
background-color: brown;
    
}
.buttons{

    display: flex;
    justify-content: space-evenly;
   

}
#button2{

    align-items: center;
    margin: auto;
    margin-left:28%; 
   
}
#button3{
  
    align-items: right;
  
   
}
#button1{
    align-items: left;
   margin-right: 10%;
}