body{
    background-image: url(https://etimg.etb2bimg.com/photo/88727626.cms);
    background-size: cover;
}
.box{
    height:200px;
    width:400px;
  /* border: ;
   box-shadow: 2px 2px 2px 2px rgb(226, 144, 144);
   */
    margin-left:25%;
    margin-top: 15%;
    
    background-image: url(https://www.shutterstock.com/image-photo/brown-background-made-real-colored-260nw-1662504988.jpg);
background-size: cover;

}
.table{
    
   
    margin-left: 5%;
}
.button{
    margin-left: 40%;
    margin-top:5%;
}