body{
    background-image:url(https://media.istockphoto.com/id/1456597056/photo/gradient-brown-background.webp?b=1&s=170667a&w=0&k=20&c=BRyBUap_EhYF2TiHbfn3GF3FqMulXs2eTBiRlkLPL0k=);
    background-size: cover;
}
img{
    padding-right: 3%;
}

.flex
{
    display: flex;
    margin-left: 240px;   

}
#dif{
    margin-top:-50px;
    margin-left:100px;
   
  
    
}
#image{
    border-radius: 50%;
    margin-top:3%;
   
}/*
.new
{
    height:200px;
    width:800px;
    border-radius: auto;
    border: 3px solid black;
    margin-left: 230px;
    margin-top:-20% ;
    position: relative;

}*/
#round{
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.buttons{

    display: flex;
    justify-content: space-evenly;
   
}
#button2{

    align-items: center;
    margin: auto;
    margin-left:30%; 
   
}
#button3{
  
    align-items: right;
    margin-left: -10%;
}
#button1{
    align-items: left;
   margin-right: 10%;
}