body{
    background-image: url(https://media.istockphoto.com/id/1266199998/photo/light-blue-water-color-background-with-soft-artistic-washes-stains-and-brush-strokes-hand.jpg?s=612x612&w=0&k=20&c=_Hr-Eanr3wkeUGkdhHFY2HDRjy3yYdbrocYABhcnaXU=);
    background-size: cover;
}
.buttons{

    display: flex;
    justify-content: space-evenly;
   
}
#button2{

    align-items: center;
    margin: auto;
    margin-left:30%; 
   
}
#button3{
  
    align-items: right;
}
#button1{
    align-items: left;
   margin-right: 10%;
}
#round{
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}