body{
    background-image: url(https://images.unsplash.com/photo-1603366615917-1fa6dad5c4fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80);
}
#round{
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}
.buttons{

    display: flex;
    justify-content: space-evenly;
   
}
#button2{

    align-items: center;
    margin: auto;
    margin-left:28%; 
   
}
#button3{
  
    align-items: right;
}
#button1{
    align-items: left;
   margin-right: 10%;
}
#large{
    border:3px solid whitesmoke;
}
#large:hover{
   border:3px solid gold;

}