body{
    background-image: url(https://img.freepik.com/free-photo/gray-grunge-surface-wall-texture-background_1017-18216.jpg);
    background-size: cover;
}
.flex{
    display:flex;
    justify-content: space-evenly;
    width:1000px;
    margin-left:7%;
  
}
img{
    border-radius: 50%;
    border: 3px solid blueviolet;
}
#image{
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}
.buttons{

    display: flex;
    justify-content: space-evenly;
   
}
#button2{

    align-items: center;
    margin: auto;
    margin-left:28%; 
   
}
#button1{
    align-items: left;
   margin-right: 10%;
}